<h1>Add New List:</h1>

<form action="/lists" method="post">
  <div class="form-group">
    <label for="name"> Name of List </label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button name="button" type="submit" class="btn"> Add List </button>
</form>